<?xml version="1.0"?>
<config>
    <modules>
        <Sols_Synchronized>
            <version>0.0.1</version>
        </Sols_Synchronized>
    </modules>
    <adminhtml>
        <layout>
            <updates>
                <synchronized>
                    <file>synchronized.xml</file>
                </synchronized>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <blocks>
            <adminhtml>
                <rewrite>
                    <sales_invoice_grid>Sols_Synchronized_Block_Adminhtml_Invoicegrid</sales_invoice_grid>
                </rewrite>
                <rewrite>
                    <sales_creditmemo_grid>Sols_Synchronized_Block_Adminhtml_Creditmemogrid</sales_creditmemo_grid>
                </rewrite>
            </adminhtml>
            <synchronized>
                <class>Sols_Synchronized_Block</class>
            </synchronized>
        </blocks>
        <helpers>
            <synchronized>
                <class>Sols_Synchronized_Helper</class>
            </synchronized>
        </helpers>
        <models>
            <synchronized>
                <class>Sols_Synchronized_Model</class>
            </synchronized>
        </models>
        <resources>
            <synchronized_setup>
                <setup>
                    <module>Sols_Synchronized</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </synchronized_setup>
        </resources>
    </global>
    <crontab>
        <jobs>
            <sols_synchronized_invoices>
                <schedule><cron_expr>5,35 * * * *</cron_expr></schedule>
                <run><model>synchronized/synchronize::checkInvoices</model></run>
            </sols_synchronized_invoices>
            <sols_synchronized_creditmemo>
                <schedule><cron_expr>10,40 * * * *</cron_expr></schedule>-->
                <run><model>synchronized/synchronize::checkCreditMemos</model></run>
            </sols_synchronized_creditmemo>
        </jobs>
    </crontab>
</config>
